{% extends 'base.html' %}

<body>
    {% block contents %}
    <div class="container" style="text-align: center;">
        <br></br>
        <h2><b><i>PHOTOFOLIO</I></b></h2>
        <br></br>
        <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
                <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>

            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="https://scontent-ssn1-1.xx.fbcdn.net/v/t1.0-9/66766104_2350459771690117_7874803720964276224_o.jpg?_nc_cat=106&_nc_sid=110474&_nc_ohc=Njxzh27daIkAX8dlK4a&_nc_ht=scontent-ssn1-1.xx&oh=24cffb0f29c2103d61aa63b1d80c35e9&oe=5EB3D40A"
                        class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>사진 찍기를 좋아합니다.</h5>
                        <p>찰나의 순간 순간을 좋아하지만 그걸 가볍게 여기진 않지요.</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="https://scontent-ssn1-1.xx.fbcdn.net/v/t1.0-9/66395029_2350460298356731_1621993003470028800_o.jpg?_nc_cat=102&_nc_sid=110474&_nc_ohc=PnMBv8tqPLAAX8l6m3s&_nc_ht=scontent-ssn1-1.xx&oh=441326c0533b5b65088df9ba9d35a31a&oe=5EB673AE"
                        class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>걸음을 좋아합니다.</h5>
                        <p>걸음이 만드는 이야기가 반드시 있다고 생각합니다. 그래서 여기저기 다니길 좋아하구요.</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="https://scontent-ssn1-1.xx.fbcdn.net/v/t1.0-9/39398629_1874531055949660_5252855345012801536_o.jpg?_nc_cat=105&_nc_sid=0be424&_nc_ohc=qycZjBrQ-dsAX-eK75D&_nc_ht=scontent-ssn1-1.xx&oh=93a34a1f83515b6984a519d6767c9fa1&oe=5EB72782"
                        class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>그 두가지의 조합</h5>
                        <p>그건 참 좋은 것 같습니다.</p>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
        <br></br>
        <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
                <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>

            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="https://scontent-ssn1-1.xx.fbcdn.net/v/t1.0-9/22281600_1527122077357228_806907652914816313_n.jpg?_nc_cat=109&_nc_sid=13bebb&_nc_ohc=vgb9EWTP10wAX_Bh9gI&_nc_ht=scontent-ssn1-1.xx&oh=c9214822592bbbc4dd4b55ed495c951b&oe=5EB4CFE3"
                        class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>사람을 참 좋아합니다.</h5>
                        <p>낯선 이가 담고 있을 하나의 이야기, 그 삶과 그 삻의 가치를 사랑합니다.</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="https://scontent-ssn1-1.xx.fbcdn.net/v/t1.0-9/60628376_2259629544106474_4706079615657967616_n.jpg?_nc_cat=104&_nc_sid=7aed08&_nc_ohc=ulufFz0cnUkAX8uqVp5&_nc_ht=scontent-ssn1-1.xx&oh=92e5d9b482fbb0fcd551446b685ac9d8&oe=5EB3D1CF"
                        class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>사랑하는 은사님</h5>
                        <p>그분과 함께 인생을 공부해 나아가고 있습니다.</p>
                    </div>
                </div>

                <div class="carousel-item">
                    <img src="https://scontent-ssn1-1.xx.fbcdn.net/v/t1.0-9/39568541_1877858478950251_5383197771266260992_o.jpg?_nc_cat=107&_nc_sid=0be424&_nc_ohc=IUBP1HVY3egAX9sHDB6&_nc_ht=scontent-ssn1-1.xx&oh=ea7eb4bc8c91896c2904af0f4c455871&oe=5EB46C90"
                        class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>세상</h5>
                        <p>그 넓은 곳을 공부해가고있습니다.</p>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>

        <br></br>

    </div>
    {% endblock %}
</body>