{% extends 'base.html' %}

<body>
    {% block contents %}
    <br></br>
    <h2><b><i>MAIN</I></b></h2>
    <br></br>
    <hr>
    <div class="container">
        {% for blog in blogs.all %}
        <div class="card" style="margin-bottom: 25px;">
            <div class="card-body">
                <h5 class="card-title">{{blog.title}}</h5>
                {{blog.pub_date}}
                <p class="card-text">{{blog.summary}}</p>
                <a href="{% url 'detail' blog.id %}" class="btn btn-primary">More</a>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endblock %}
</body>