{% extends 'base.html' %}

{% block contents %}
<br></br>
<br></br>
<form action="{% url 'create' %}">
    <div class="container">
        <h2>새로운 글쓰기</h2>
        <hr>
        <div class="form-group" style="width: 30%;">
            <label for="exampleFormControlInput1">제목</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" name="title">
        </div>
        <div class="form-group" style="width: 20%;">
            <label for="exampleFormControlInput1">글쓴이</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" name="author">
        </div>
        <div class="form-group" style="width: 70%;">
            <label for="exampleFormControlTextarea1">내용</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="10" name="body"></textarea>
        </div>
        <a href="{% url 'main' %}"><button type="button" class="btn btn-secondary">home</button></a>
        <input class="btn btn-info" type="submit" value="submit">
    </div>
</form>
{% endblock %}