{% extends 'base.html' %}

<body>
    {% block contents %}
    <div style="text-align: center;">
        <br></br>
        <h2><b><i>PROFILE</I></b></h2>
        <br></br>
        <img src="https://scontent-ssn1-1.xx.fbcdn.net/v/t1.0-9/71778262_2505652806170812_6682982766277033984_n.jpg?_nc_cat=104&_nc_sid=7aed08&_nc_eui2=AeFrfSKrnFQ5o_fjFv8JU-QgonXNKEhlDJOidc0oSGUMk--SkrY4vgkg9OCCrVi488ZNENOyRXGoPDbNdYe_y1OJ&_nc_ohc=GQHyGccXkcwAX_3XZII&_nc_ht=scontent-ssn1-1.xx&oh=dc3b4f6b82f4744a794527678a3fe6ef&oe=5ECAC961"
            width="50%" alt="프로필사진" />
        
        <br></br>
        <br></br>
    
        <h4>이름: 신동녘</h4>
        <h4 style="display: inline;">나이: 23</h4>
        <h6 style="display: inline;">(1998.01.20)</h6>
        <h3></h3>
        <h4>전공: 미디어커뮤니케이션</h4>
        <h4>취미: 영상제작, 사진찍기</h4>
        <h4>좋아하는 것: 옳은 것, 아름다운 것, 빵</h4>
        <h4>싫어하는 것: 아직 잘 모르는 상태</h4>
        <h4 style="display: inline;">인스타: <a href="https://www.instagram.com/nyeok__/" target="_blank">nyeok__</a></h4>
        <h6 style="display: inline;">(녘+언더바+언더바)</h6>
        <br></br>
        <br></br>
    </div>
    {% endblock %}
</body>